{% extends 'base.html' %}
<!--  -->
{% block title %} แพทย์ {% endblock %}
<!--  -->
{% block content %}

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ชื่อ</th>
        <th scope="col">นามสกุลล</th>
        <th scope="col">ความเชี่ยวชาญ</th>
        <th scope="col">#สังกัดโรงพยาบาล</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in physician %}
      <tr>
        <td>#</td>
        <td>
          <a href="{% url 'detail' subject.id %}">{{subject.subject_code}}</a>
        </td>
        <td>{{subject.subject_name_th}}</td>
        <td>{{subject.subject_name_en}}</td>
        <td>{{subject.yung.count}}</td>
      </tr>
      <br />
      <br /><br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
